/CopyOneStringToAnother.class
/InbuildsMethodString.class
/ReverseString.class
/PalindromeString.class
/Palindrome.class
/BlankString.class
/ASCIIString.class
/SpacesLowerToUpper.class
/FirstCharAsCaptipal.class
/VowelsSpecialConsonant.class
